<ion-header>
  <ion-toolbar color="secondary" > 
    <ion-title>
        <ion-icon  name="mail" ></ion-icon>   Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="/assets/contactus.jpg"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col >

          <ion-card class="welcome-card">
         
            <ion-card-header>
              <ion-card-title> Head Quarters</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p> <ion-icon  name="pin" color="primary" ></ion-icon> Bhilwara Towers 
                  A-12, Sector-1 <br>
                  Noida-201301 <br>
                  NCR-Delhi, India <br>
                  <ion-icon  name="call" color="primary" ></ion-icon> +91-120-4390000 <br>
                  <ion-icon  name="print" color="primary" ></ion-icon> +91-120-2440294 <br>
                  <ion-icon  name="mail" color="primary" ></ion-icon> contact@bhilwarainfo.com</p>  
            </ion-card-content>
          </ion-card>

          <ion-card class="welcome-card">
         
              <ion-card-header>
                <ion-card-title>Regional Office</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p> <ion-icon  name="pin" color="primary" ></ion-icon> #244, Fortune Summit Business Park  <br>
                    1st Floor, Hosur Road  <br>
                    Near Silk Board Junction <br>
                    Bengaluru, India – 560068. <br>
                    <ion-icon  name="call" color="primary" ></ion-icon> +91-80-46306666 <br>
                    <ion-icon  name="print" color="primary" ></ion-icon> +91-80-41466262 <br>
                    <ion-icon  name="mail" color="primary" ></ion-icon> info@bhilwarainfo.com</p>   
              </ion-card-content>
            </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

